<div class="sign_up_page">
  <h1>Sign Up</h1>
    <body class="header">
      <div class="fancy_box">
    <%= form_for User.new do |f| %>
    <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <p><div class="field">
      <span class="field_sign_up">
      <%= f.label :email %><br />
      <span class="black"><%= f.text_field :email %></span>
      </span>
    </div></p>
    <p><div class="field">
      <span class="field_sign_up">
      <%= f.label :password %><br />
      <span class="black"><%= f.password_field :password %></span>
      </span>
    </div></p>
    <p><div class="field">
      <span class="field_sign_up">
      <%= f.label :password_confirmation %><br />
      <span class="black"><%= f.password_field :password_confirmation %></span>
      </span>
    </div></p>
    <p><div class="actions"><div class="field_sign_up"><span class="black"><%= f.submit "Sign Up" %></span></div></div></p>
    <% end %>
  </div>
</div>
