<%= form_for @post, html: { multipart: true } do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <span class="white"><%= form.label :title %></span>
    <span class="black"><%= form.text_field :title, id: :post_title %></span>
  </div>
  <div class="field">
    <span class="hide"><%= form.label :user_id %></span>
    <%= form.hidden_field :user_id, id: :post_user_id, value: current_user.id %>
  </div>
  <p> </p>
  <div class="field">
    <span class="white"><%= form.label :body %></span>
    <span class="black"><%= form.text_field :body, id: :post_body %></span>
  </div>

  <div class="field">
    <span class="white"><%= form.label :image %></span>
    <span class="black"><%= form.file_field :image, id: :post_image %></span>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
